/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

h1 {
  color: #0f172a;
  font-weight: bold;
  text-align: center;
}

p {
  color: #ffffff;
  font-family: 'Roboto';
  padding-top: 10px;
}

img {
  height: 40px;
  width: 40px;
  margin: 15px;
}

.notification {
  height: 30%;
  width: 140%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.info {
  background-color: #0b69ff;
}

.success {
  background-color: #2dca73;
}

.warning {
  background-color: #ffb800;
}

.error {
  background-color: #ff0b37;
}
